@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    overflow-x: hidden;
    font-size: 15px;
}
.logo{
    width: 150px;
    margin-left: 50px;
}
.home{
    background-color: #ff6b81;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    position: fixed;
    transition: all 0.5s ease;
}
.compo{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.compo li{
    font-size: 16px;
    font-weight: 600;
}
.button{
    margin-right: 50px;
    width: 120px;
    height: 45px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    transition: all 0.5s ease;
}
.button:hover{
    background-color:white;
    color: #ff6b81;
    transition:all 0.5s ease;
}
.hero{
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.left{
    height: 100%;
    width: 100%;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    margin-top: 50px;
    margin-left:70px
}
.name{
    font-size: 35px;
    font-weight: 800;
    width: 500px;
}
.desc{
    font-size: 14px;
    width: 500px;
}
.buttons{
    display: flex;
    gap: 15px; 
}
.buttons >:nth-child(1){
    width: 120px;
    height: 45px;
    border: 2px solid white;
    background-color: white;
    color: #ff6b81;
    font-weight: 600;
    border-radius: 5px;
}
.buttons >:nth-child(1):hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition:all 0.5s ease;
}
.buttons >:nth-child(2){
    width: 120px;
    height: 45px;
    border: none;
    background-color:transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.buttons >:nth-child(2):hover{
    background-color: white;
    color: #ff6b81;
    transition:all 0.5s ease;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-right: 100px;
    padding-bottom: 10px;
}
.right img{
    width: 600px;
    padding-right: 150px;
}

.features{
    color: black;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.topf{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.p1{
    color: #ff6b81;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.p2{
    font-size:30px;
    font-weight: 600;
    width: 600px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.p3{
    font-size: 14px;
    color:rgb(114, 111, 111);
    width: 650px;
    text-align: center;
}
.card{
    width: 340px;
    box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.card:hover{
    box-shadow:rgba(50,50,93,0.25) 0px 6px 12px -2px,rgba(0,0,0,0.3) 0px 3px 7px -3px;
    margin-top: -5px;
}
.card1{
    width: 45px;
    height: 45px;
    background-color: #ff6b81;
    border-radius: 10px;
    box-shadow:rgba(60,64,67,0.3) 0px 1px 2px 0px, rgba(60,64,67,0.15) 0px 2px 6px 2px;
}
.card2{
font-size: 16px;
font-weight: 600;
}
.card3{
font-size: 13px;
font-weight: 0;
}
.bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 150px;
    padding-right: 50px;
    gap: 30px;
}
.scrolled{
    background-color: white;
    color: black;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.scroll-button{
    background-color: #ff6b81;
    border: none;
}
.scroll-button:hover{
    background-color: black !important;
}
.overview{
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
}
.overviewL{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 140px;
    gap: 20px;
}
.overl1{
height: 60px;
width: 60px;
background-color: #ff6b81;
border-radius: 5px;
box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}
.overl2{
font-size: 30px;
font-weight: 700;
width: 500px;
}
.overl3{
color: rgb(80, 77, 77);
width: 640px;
}
.overl4{
    margin-right: 50px;
    width: 120px;
    height: 45px;
    border: none;
    background-color:#ff6b81;
    border-radius: 5px;
    color: white;
    transition: all 0.5s ease;
}
.overl4:hover{
    background-color: rgb(36, 31, 31);
    transition: all 0.5s ease;
}
.over-r{
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: start;
}
.overr1{
    width: 500px;
}
.overr2{
    width: 500px;
}
.over-l2{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content:end;
}
.pricing{
    color: black;
    width: 100%;
    margin-bottom:80px;
}
.bottomp{
    width: 100%;
    padding-left: 140px;
    display: flex;
    gap: 25px;
}
.plan{
    width: 300px;
    color: black;
    border:  1px solid rgb(238, 235, 235);
    border-radius:20px ;
    margin-bottom: 80px;
}
.plan:hover{
    box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
    margin-top: -3px;
    transition: all 0.5s ease;
}
.plan-1{
    padding: 20px;
    border-bottom:  1px solid rgb(238, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.plan-11{
    font-size: 16px;
    font-weight: 600;}
.plan-12{
    font-size: 14px;
}
.plan-13 > :nth-child(1) {
    font-size: 30px;
    font-weight: 700;
}
.buttonp{
    width: 90%;
    height: 35px;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.plan-2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.plan-21{
    font-size: 16px;
    font-weight: 600;
}
.plan-22{
    font-size: 14px;
    padding-left: 30px;
    list-style: none;
}
.plan-22 li{
    color: black;
    font-size:14px;
    line-height: 30px;
}
.team{
    color: black;
    width: 100%;
    margin-bottom: 100px;
}
.teams{
width: 85%;
overflow: hidden;
display: grid;
grid-template-columns: auto auto auto;
padding-left: 180px;
gap: 20px;
}
.teams1{
    width: 350px;
    border: 1px solid rgb(198, 194, 194);
    color: black;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams1:hover{
    margin-top: -3px;
    box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}
.teams2{
padding: 20px;
}
.teams2> :nth-child(1){
    font-size: 17px;
    font-weight: 600;
}
.teams2> :nth-child(2){
    color: #ff6b81;
    margin-top: 7px;
}
.blog{
    color: black;
    width: 100%;
    margin-bottom: 100px;
}
.bottom{
    width:85%;
    padding-left: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.bottomb{
    width: 350px;
    color: black;
    border:  1px solid rgb(238, 235, 235);
    border-radius:20px ;
    overflow: hidden;
    box-shadow:rgba(50,50,93,0.25) 0px 6px 12px -2px,rgba(0,0,0,0.3) 0px 3px 7px -3px;
}
.blogimg:hover{
transform: scale(1.1);
transition: all 0.3s ease;
}
.blog1{
padding: 20px;
}
.b1{
    color: #ff6b81;
    margin-bottom: 10px;
}
.b2{
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.b3{
    font-size: 13px;
    color:rgb(114, 111, 111);
    line-height: 20px;
}
.comment{
display: flex;
align-items: center;
padding-left: 20px;
margin-bottom: 20px;
}
.cmntimg{
    width: 50px;
    height: 50px;
border-radius: 50%;
}
.c1{
padding-left: 20px;
line-height: 25px;
}
.c11{
font-size: 13px;
}
.c11:hover{
    color: #ff6b81;
}
.c2{
display: flex;
align-items: center;
gap: 10px;
font-size: 12px;
color:rgb(114, 111, 111);
}
.footer{
    background-color: rgb(24,23,45);
    width: 100%;
    padding-bottom: 90px;
    padding-top: 80px;
}
.ftop{
padding-left: 140px;
display: flex;
width: 80%;
gap: 40px;
}
.topL{
display: flex;
flex-direction: column;
padding-top: 50px;
width: 35%;
}
.topL> :nth-child(2){
margin-bottom: 87px;
width: 350px;
line-height: 20px;
}
.topLimg{
    width: 180px;
    margin-bottom: 15px;
}
.topR{
display: flex;
gap: 50px;
width: 65%;
justify-content: space-between;
}
.list{
    list-style: none;
    padding-top:50px ;
}
.list> :nth-child(1){
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 25px;
}
.list li{
    line-height: 30px;
}
.fbottom{
    border: 1px solid rgb(88, 87, 87);
    margin-left: 140px;
    margin-top: 80px;
    width: 77%;
    padding:40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.bottomL {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottomL > :nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}
.bottomR {
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: end;
}
.bottomR > :nth-child(1) {
    outline: none;
    border: none;
    display: flex;
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff33;
}
.bottomR > :nth-child(2) {
    margin-right: 50px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #ff6b81;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.5s ease;
}




.input{
    color:rgb(223, 219, 219);
}
